# Ignore Gradle dir
.gradle
gradle/

# Ignore Gradle build output directory
build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore Logs output directory
**/logs/

# Ignore IntelliJ IDEA directory & files 
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iws
*.iml
*.ipr

# JTE
jte-classes

.gitignore
